{%extends 'main/Shell.html'%}
{%block head%}Информация по заявительному принципу одно окно{%endblock%}
{%block topbar%}Информация по заявительному принципу одно окно{%endblock%}

{%block body%}
            <table class="Onewindow_table" cellspacing="19vh">
    <tr>
        <td><a href="{%url 'Leadership'%}"><button class="button_right_block">Структура руководства</button></a></td>
        <td><a href="{%url 'list_of_normative_documents'%}"><button class="button_right_block">Перечень нормативных документов</button></a></td>
        <td><a href="{%url 'WorkAndMeeting'%}"><button class="button_right_block">Режим работы и график приема граждан</button></a></td>
    </tr>
    <tr>
        <td><a href="{%url 'ProceduresOneWindow'%}"><button class="button_right_block">Перечни административных процедур, осуществляемых ПУ "Полоцкгаз" по заявлениям граждан</button></a></td>
        <td><a href="{%url 'Forms'%}"><button class="button_right_block">Формы(бланки) документов необходимых для обращения за осуществлением адинистративных процедур</button></a></td>
        <td><a href="{%url 'RightsAndObligations'%}"><button class="button_right_block">Права и обязанности граждан при осуществлении администартивных процедур</button></a></td>
    </tr>
    <tr>
        <td><a href="{%url 'claimbook'%}"><button class="button_right_block">Книга замечаний и предложений</button></a></td>
        <td><a href="{%url 'timelimitsforappeal'%}"><button class="button_right_block">Порядок и сроки обжалования принятых административных решений</button></a></td>
        <td><a href="{%url 'belarusbank'%}"><button class="button_right_block">Ближайшие банковские учреждения, расчетные счета</button></a></td>
    </tr>
</table>
{%endblock%}