{%extends 'main/Shell.html'%}
{%block head%}Услуги оказываемые населению{%endblock%}
{%block topbar%}Услуги оказываемые населению{%endblock%}


{%block body%}
            <table class="Onewindow_table" cellspacing="19vh">
    <tr>
        <td>
            <div class="card">
            <div class="front"><span>Выдача справки о расчетах за потребленный природный газ</span></div>
            <div class="back1"><span><p>
                Ответственная служба: Сектор по работе с населением
                  Срок выполнения: 3 рабочих дня со дня обращения
                                Стоимость: бесплатно
                               Отв. лицо: Марудов В.В.
                                    Телефон: 162
                            Примечание: п.10.1 Перечень А.П.
            </p></span></div>
                </div>
        </td>
        <td>
            <div class="card">
            <div class="front"><span>Оформление (регистрация при первичном обращении) льгот граждан по оплате за потребленный газ</span></div>
            <div class="back1"><span>Крут1</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Заключение договоров на газоснабжение, техническое обслуживание газового оборудования и внутридомовых систем газоснабжения</span></div>
            <div class="back1"><span>Крут2</span></div>
                </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="card">
            <div class="front"><span>Перерасчет платы за потребленный газ</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Поверка (ремонт) бытовых газовых счетчиков</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Прием и выполнение извещений об инциндентах и авариях на объектах газораспределительной системы</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>


    </tr>
    <tr>
        <td>
            <div class="card">
            <div class="front"><span>Выполнение ремонтно-технических заявок</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Проведение инструктажей населению по правилам пользования газом в быту</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Проведение инструктажей потребителям, нарушившим правила пользования газом в быту, отключенным от системы газоснабжения</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>


    </tr>
    <tr>
        <td>
            <div class="card">
            <div class="front"><span>Подключение, замена газовых плит без сварки</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Подключение, замена газовых колонок, котлов без сварки</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Установка, замена приборов учета расхода газа со сваркой, без сварки</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>


    </tr>
                    <tr>
        <td>
            <div class="card">
            <div class="front"><span>Подключение, замена, перестановка газовых плит со сваркой</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Подключение, замена, перестановка газовых колонок, котлов со сваркой</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Демонтаж газоиспользующего оборудования (со сваркой)</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>


    </tr>




        </tr>
                    <tr>
        <td>
            <div class="card">
            <div class="front"><span>Реконструкция (изменение) внутренней системы газоснабжения</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Полное техническое обслуживание вводных, внутренних газопроводов и внутреннего газоиспользующего оборудования в одноквартирных и многоквартирных жилых домах.</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Годовое техническое обслуживание запорных устройств на вводах, вводных, внутренних газопроводах многоквартирных жилых домов.</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>


    </tr>


        </tr>
                    <tr>
        <td>
            <div class="card">
            <div class="front"><span>Сезонное техническое обслуживание газового отопительного оборудования</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Ежегодное техническое обслуживание газового отопительного оборудования</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>
                <td>
            <div class="card">
            <div class="front"><span>Заявочное техническое обслуживание внутренних газопроводов и внутридомового газового оборудования</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>


    </tr>


        </tr>
                    <tr>
        <td>
            <div class="card">
            <div class="front"><span>Техническое обслуживание проточных газовых водонагревателей</span></div>
            <div class="back1"><span>Крут</span></div>
                </div>
        </td>


    </tr>

        </tr>

</table>
<script>

</script>


{%endblock%}
