{%extends 'main/Shell.html'%}
{%block head%}Ближайшие банковские учреждения, расчетные счета{%endblock%}
{%block topbar%}Ближайшие банковские учреждения, расчетные счета{%endblock%}

{%block body%}
    <div class="cool_text">
    <div class="text_test">
    <h3>Ближайшее банковское учреждение находится:</h3>
    <p>ОАО "АСБ Беларусбанк" отделение №214/2114<br>
        г.Новополоцк ул.Молодежная д.16 <br>
                тел.+375(21)458-50-92<br>
                тел.+375(21)458-36-79</p>
    <h3>Режим работы:</h3>
    <p>Будние дни: с 10.00 - 19.00; перерыв с 14.00-15.00<br>
        Суббота, воскресенье - выходной</p><br>
    <h3>Расчетный счет:</h3>
    <p>p/c BY67 AKBBY 3012 0163 6212 1230 0000<br>
        ОАО "АСБ Беларусбанк",<br>
            BIC AKBBBY2X УНП 300002084 </p>
    </div>
        </div>
{%endblock%}