{%extends 'main/Shell.html'%}
{%block head%}Книга замечаний и предложений{%endblock%}
{%block topbar%}Книга замечаний и предложений{%endblock%}


{%block body%}
    <div class="cool_text">
    <div class="text_test">
    <h2>КНИГА</h2>
      <h2>Замечаний и предложений</h2>
    <h3>находится по адресу  г. Новополоцк, ул. Гайдара, 5 <br><br>
        Административное здание ПУ "Полоцкгаз", консультант<br><br>
          Ответственный за ведение книги замечаний и предложений –<br><br>
        начальник сектора по работе с населением Полоцкого производственного управления</h3>
            <h2><b>Марудов Владислав Валерьевич,<br>
                каб. №5, тел. +375 (29) 810-08-04</b></h2><br>
    </div>
        </div>
{%endblock%}
