{%extends 'main/Shell.html'%}
{%block head%}Формы(бланки) документов необходимых для обращения за осуществлением адинистративных процедур{%endblock%}
{%block topbar%}Формы(бланки) документов необходимых для обращения за осуществлением адинистративных процедур{%endblock%}

{%block body%}
            <table class="Onewindow_table" cellspacing="19vh">
    <tr>
        <td><a href="{%url 'Statements_for_writing_off_penalties'%}"><button class="button_right_block">Заявление на списание задолженности</button></a></td>
        <!--<td><a href="{%url 'Liquefied_Petroleum_Gas_Supply_Statement'%}" class="button_table">Заявление о снабжении сжиженным углеводородным газом</a></td> -->
        <td><a href="{%url 'Application_for_the_reconstruction_of_the_gas_supply_system'%}"><button class="button_right_block">Заявление о реконструкции системы газоснабжения</button></a></td>
        <td><a href="{%url 'Absence_notice'%}"><button class="button_right_block">Извещение об отсутствии</button></a></td>

    </tr>
    <tr>
        <td><a href="{%url 'Large_family_statement'%}"><button class="button_right_block">Заявление многодетной семьи</button></a></td>
        <!--<td><a href="{%url 'Application_for_registration_of_a_discount_on_payment_for_consumed_gas'%}" class="button_table">Заявление об оформлении льготы об оплате за потребленный газ</a></td>-->
        <td><a href="{%url 'Application_for_funding_design_and_survey_work'%}"><button class="button_right_block">Заявление на финансирование проектно-изыскательные работы</button></a></td>
        <td><a href="{%url 'Extension_Statement'%}"><button class="button_right_block">Заявление о продлении технических условий</button></a></td>
    </tr>
    <tr>
        <td><a href="{%url 'Statement_for_the_reconstruction_of_the_gas_supply_system'%}"><button class="button_right_block">Заявление по переустройству системы газоснабжения</button></a></td>
        <td><a href="{%url 'Recalculation_statement'%}"><button class="button_right_block">Заявление о перерасчете</button></a></td>
        <!--<td><a href="{%url 'Statement_on_the_consolidation_of_personal_accounts'%}" class="button_table">Заявление об обьеденении лицевых счетов</a></td>-->
        <td><a href="{%url 'Application_for_financing_construction_and_installation_works'%}"><button class="button_right_block">Заявление на финансирование строительно-монтажных работ</button></a></td>

    </tr>
    <tr>
        <td><a href="{%url 'Gas_startup_application'%}"><button class="button_right_block">Заявление на пуск газа</button></a></td>
        <td><a href="{%url 'Application_for_issuance_of_a_certificate_of_payments_for_consumed_natural_gas'%}"><button class="button_right_block">Заявление о выдаче справки о расчетах за потребленный природный газ</button></a></td>
        <td><a href="{%url 'Application_for_payment'%}"><button class="button_right_block">Заявление на сплату</button></a></td>
    </tr>
    <tr>
        <td><a href="{%url 'Excavation_permit_application'%}"><button class="button_right_block">Заявление на разрешение земляных работ</button></a></td>
        <td><a href="{%url 'Sidebar_application'%}"><button class="button_right_block">Заявление на врезку</button></a></td>
        <td><a href="{%url 'Application_for_TU'%}"><button class="button_right_block">Заявление на ТУ</button></a></td>
    </tr>
    <tr>
        <td><a href="{%url 'Application_for_liquidation_of_the_registered_IBU'%}"><button class="button_right_block">Заявлениена ликвидацию зарегестрированной ИБУ</button></a></td>
        <td><a href="{%url 'Application_for_cylinder_acceptance'%}"><button class="button_right_block">Заявление на принятие баллона</button></a></td>
    </tr>
</table>
{%endblock%}