{%extends 'main/Shell.html'%}
{%load static%}
{%block head%}Структура руководства{%endblock%}
{%block topbar%}Структура руководства{%endblock%}

{%block body%}
            <table class="Onewindow_table_leader">
    <tr>
          <td><a href="{%url 'Leadership_Minenergo'%}"><img src="{% static 'main/img/MinEnergo.png' %}" class="back" ></a></td>
          <td><a href="{%url 'Leadership_Beltop'%}"><img src="{% static 'main/img/GPO.jpeg' %}" class="back" ></a></td>
    </tr>
    <tr>
          <td><a href="{%url 'Leadership_Minenergo'%}"><button class="button_right_block">Руководство Минэнерго</button></a></td>
          <td> <a href="{%url 'Leadership_Beltop'%}"><button class="button_right_block">Руководство ГПО "Белтопгаз"</button></a></td>
    </tr>
    <tr>
          <td><a href="{%url 'Leadership_Vitebsk'%}"><img src="{% static 'main/img/logo.png' %}" class="back" ></a></td>
          <td> <a href="{%url 'Leadership_Polotsk'%}"><img src="{% static 'main/img/logo.png' %}" class="back" ></a></td>
    </tr>
    <tr>
          <td><a href="{%url 'Leadership_Vitebsk'%}"><button class="button_right_block">Руководство УП "Витебскоблгаз"</button></a></td>
          <td><a href="{%url 'Leadership_Polotsk'%}"><button class="button_right_block">Руководство ПУ "Полоцкгаз"</button></a></td>
    </tr>
</table>
{%endblock%}
