{%extends 'main/Shell.html'%}
{%block head%}Перечень нормативных документов{%endblock%}
{%block topbar%}Перечень нормативных документов{%endblock%}

{%block body%}
            <table class="Onewindow_table" cellspacing="19vh">
    <tr>
        <td><a href="{%url 'Command'%}"><button class="button_right_block">Приказы</button></a></td>
        <td><a href="{%url 'Order'%}"><button class="button_right_block">Распоряжения</button></a></td>
        <td><a href="{%url 'Law'%}"><button class="button_right_block">Законы</button></a></td>
    </tr>
    <tr>
        <td><a href="{%url 'Directive'%}"><button class="button_right_block">Директивы</button></a></td>
        <td><a href="{%url 'Ruling'%}"><button class="button_right_block">Постановления</button></a></td>
        <td><a href="{%url 'Decree'%}"><button class="button_right_block">Декреты</button></a></td>
    </tr>
    <tr>
        <td><a href="{%url 'Propaganda'%}"><button class="button_right_block">Пропаганда</button></a></td>
    </tr>
</table>
{%endblock%}