{%extends 'main/Shell.html'%}
{%block head%}Заявление на финансирование строительно-монтажных работ{%endblock%}
{%block topbar%}Заявление на финансирование строительно-монтажных работ{%endblock%}

{%block body%}
{%for el in data%}
                <embed class="docs_view" src="{{ el.Application_for_financing_construction_and_installation_works_doc.url }}" >
                <p href="{{ el.Application_for_financing_construction_and_installation_works}}" class="cool_text">{{ el.title }} {{el.times}}</p>
{%endfor%}
{%endblock%}



