{%extends 'main/Shell.html'%}
{%block head%}Заявление на финансирование проектно-изыскательных работ{%endblock%}
{%block topbar%}Заявление на финансирование проектно-изыскательных работ{%endblock%}

{%block body%}
{%for el in data%}
                <embed class="docs_view" src="{{ el.Application_for_funding_design_and_survey_work_doc.url }}" >
                <p href="{{ el.Application_for_funding_design_and_survey_work}}" class="cool_text">{{ el.title }} {{el.times}}</p>
{%endfor%}
{%endblock%}




