{%extends 'main/Shell.html'%}
{%block head%}Заявление о выдаче справки о расчетах за потребленный природный газ{%endblock%}
{%block topbar%}Заявление о выдаче справки о расчетах за потребленный природный газ{%endblock%}

{%block body%}
{%for el in data%}
                <embed class="docs_view" src="{{ el.Application_for_issuance_of_a_certificate_of_payments_for_consumed_natural_gas_doc.url }}" >
                <p href="{{ el.Application_for_issuance_of_a_certificate_of_payments_for_consumed_natural_gas}}" class="cool_text">{{ el.title }} {{el.times}}</p>
{%endfor%}
{%endblock%}






